<div class="input-group mb-3 col-md-6">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect04">性別</label>
    </div>
    <select class="custom-select" id="inputGroupSelect04" name="Sex">
        <option selected value="">選擇性別...</option>
        <%= options_for_select(@Sexs) %>
    </select>
</div>
<div class="input-group mb-3 col-md-6">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect05">年齡區間(下限)</label>
    </div>
    <select class="custom-select" id="inputGroupSelect05" name="AgeMin">
        <option selected value="">選擇年齡區間(下限)...</option>
        <%= options_for_select(@Ages) %>
    </select>
</div>
<div class="input-group mb-3 col-md-6">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect05">年齡區間(上限)</label>
    </div>
    <select class="custom-select" id="inputGroupSelect05" name="AgeMax">
        <option selected value="">選擇年齡區間(上限)...</option>
        <%= options_for_select(@Ages) %>
    </select>
</div>
<div class="input-group mb-3 col-md-6">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect06">圖表類型</label>
    </div>
    <select class="custom-select" id="inputGroupSelect06" name="Chart">
        <option selected value="">選擇圖表類型...</option>
        <%= options_for_select(@Charts) %>
    </select>
</div>