<div class="jumbotron">
  <h1 class="display-4">歡迎使用新北市人口統計資訊平台</h1>
  <p class="lead">提供新北市29區中1~100歲男、女人口數目。</p>
  <hr class="my-4">
  <p>功能</p>
  <ul>
      <li>各地區人口資訊</li>
      <li>各地區人口比較</li>
  </ul>
  <p class="lead">
    <%= link_to 'Learn more', root_path, class: "btn btn-primary btn-lg" %>
    
  </p>
</div>